<ion-view title="Create a Game">    
<!--   <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> -->

  <ion-content id="create-game-top" scroll="false">
    <div class="title-wrapper">
      <title>Create Game</title>
    </div>
  </ion-content>

  <ion-content id="create-game">
    <div class="photo-upload">
      <i class="icon ion-camera"></i>
      <h3>Upload a Photo (Coming Soon)</h3>
    </div>

    <div class="form-wrapper">
      <form name="createMessage">
        <h2 class="game-name">Game Name</h2>
          <label class="item item-input">
            <input type="text" placeholder="Your Wonderful Game Name" ng-model="game.name">
          </label>
        <h2 class="player-name">Your Player Name</h2>
        <label class="item item-input player-name">
          <input type="text" placeholder="Money Bags" ng-model="player.handle">
        </label>
        <h2 class="game-description">Game Motto (Optional)</h2>
          <label class="item item-input">
            <input type="text" placeholder="A witty description maybe?" ng-model="game.motto">
          </label>
        <h2 class="game-password">Password (Optional)</h2>
        <label class="item item-input">
          <input type="password" placeholder="Optional" ng-model="game.password">
        </label>
        <div id="create-game-submit">
          <button class="col social-button" ng-click="createGame(game)">
              <div class="social-text">CREATE GAME AND JOIN</div>
          </button>
        </div>
      </form>
    </div>  
  </ion-content>
</ion-view>