<ion-view name="emailsignup" hide-nav-bar="false" view-title="Sign Up" class="background-flesh">
	<ion-content class="padding" scroll="true">
		<div class="row">
			<img src="./img/logo.png" class="login-logo">
		</div>
		<form ng-submit="signup()" ng-controller="EmailSignUpCtrl">
			<label class="item item-input">
				<input type="text" placeholder="Username" ng-model="username" name="username">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-model="password" name="password">
			</label>
			<div class="row min-height-50">
				<button class="col orange-button" id="signup" value="SignUp" type="signup">
					<div class="orange-button-text">SIGN UP & LOG IN</div>
				</button>
			</div>
		</form>
	</ion-content>
</ion-view>
