<ion-view hide-back-button="true">   
<ion-nav-title>{{game.name}}</ion-nav-title>  
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding" scroll="true">
    <ion-list ng-show="messages != null">
<!--     <ion-list> -->
      <h2>Your Messages</h2>
      <div ng-repeat="msg in messages">
        <ion-item ng-show="msg.attempted == nill" ng-click="openMessage(msg._id)">
          <h2>Open - {{msg.scores}}</h2>
        </ion-item>
      </div>
    </ion-list>

    <div ng-show="message != null">
    <ion-list>
<!--     <ion-list> -->
      <h2>Your word/phrase/action is...</h2>
      <ion-item>
        <p>{{message.phrase[0].sentence}}</p>
      </ion-item>
      <h2>This phrase is worth {{message.score}} points!</h2>
    </ion-list>

    <div class="row success-or-fail">
      <div class="col-50">
        <a ng-click="updateAttempted(message._id,false)">
          <i class="ion-sad-outline faces"></i>
          <h2>Reject/Failed!</h2>
        </a>
      </div>
      <div class="col-50">
        <a ng-click="updateAttempted(message._id,true)">
          <i class="ion-happy-outline faces"></i>
          <h2>Succeeded!</h2>
        </a>
      </div>
    </div>
  </div>

  </ion-content>
  <div class="tabs tabs-icon-only">
    <!-- Create a message -->
    <a nav-clear nav-transition="none" class="tab-item disable-user-behavior" title="Create" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline" ui-sref="menu.game-room-create({gameId: game._id})">
      <i class="icon ion-ios-compose"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <!-- Message list -->
    <a nav-clear nav-transition="none" class="tab-item disable-user-behavior active" title="Messages" icon-on="ion-ios-email" icon-off="ion-ios-email-outline" ui-sref="menu.game-room-receive({gameId: game._id})">
      <i class="icon ion-ios-email"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <!-- Sneaky Board -->
    <a nav-clear nav-transition="none" class="tab-item disable-user-behavior" title="Sneaky Board" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" ui-sref="menu.game-room-sneaks({gameId: game._id})">
      <i class="icon ion-ios-list"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <!-- Scores n Stats -->
    <a nav-clear nav-transition="none" class="tab-item disable-user-behavior" title="Scores n Stats" icon-on="ion-ios-flower" icon-off="ion-ios-flower-outline" ui-sref="menu.game-room-score({gameId: game._id})">
      <i class="icon ion-ios-flower"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
  </div>
</ion-view>