<ion-view hide-back-button="true">   
<ion-nav-title>{{game.name}}</ion-nav-title> 
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding" scroll="true">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <h1 class="page-title">Create Phrase</h1>
    <ion-list class="game-content">
      <form name="createMessage">
        <h2>Send to...</h2>
        <select ng-model="message.recipient">
          <option ng-repeat="player in game.players"
              value="{{player.user}}">
            {{player.handle}}
          </option>
        </select>
        <h2>Create a phrase, be creative...</h2>
        <label class="item item-input">
          <input name="content" type="text" placeholder="Something fun!" ng-model="message.sentence" 
          ng-model-options="{debounce: 1000}"/>
        </label>
        <div class="form-field action-button">
        <!-- FIX THIS createmessage.null??? -->
          <button class="submit-button" ng-click="sendMessage()">
              <div class="submit-button-text">SEND {{score}}pts</div>
          </button>
        </div>
      </form>
    </ion-list>
  </ion-content>
    <div class="tabs tabs-icon-only">
      <!-- Create a message -->
      <a nav-clear nav-transition="none" class="tab-item disable-user-behavior active" title="Create" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline" ui-sref="menu.game-room-create({gameId: game._id})">
        <i class="icon ion-ios-compose"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <!-- Message list -->
      <a nav-clear nav-transition="none" class="tab-item disable-user-behavior" title="Messages" icon-on="ion-ios-email" icon-off="ion-ios-email-outline" ui-sref="menu.game-room-receive({gameId: game._id})">
        <i class="icon ion-ios-email"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <!-- Sneaky Board -->
      <a nav-clear nav-transition="none" class="tab-item disable-user-behavior" title="Sneaky Board" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" ui-sref="menu.game-room-sneaks({gameId: game._id})">
        <i class="icon ion-ios-list"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <!-- Scores n Stats -->
      <a nav-clear nav-transition="none" class="tab-item disable-user-behavior" title="Scores n Stats" icon-on="ion-ios-flower" icon-off="ion-ios-flower-outline" ui-sref="menu.game-room-score({gameId: game._id})">
        <i class="icon ion-ios-flower"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
    </div>
</ion-view>