<ion-view hide-back-button="true">   
<ion-nav-title>{{game.name}}</ion-nav-title> 
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding" scroll="true">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <h1 class="page-title">Messages</h1>
    <ion-list ng-show="messages != null" class="game-content">
      <div ng-repeat="message in messages">
        <ion-item ng-show="message.attempted != nill" class="target-box">
          <div class="message-info" ng-click="voteOptions = !voteOptions" ng-class="voteOptions ? 'show-vote-options' : 'show-vote-options-disabled'">
            <h2>{{message.phrase[0].sentence}}</h2>
          </div>
          <div ng-class="voteOptions ? 'vote-box-show' : 'vote-box-hide'"> <!-- set fixed height, overflow hidden,  -->
            <div class="button-container">  
              <div class="circle-down circle-button" ng-click="thumbDown(message._id)">
                <i class="ionicons ion-thumbsdown" ng-class="{'selected': message.thumbDownState}"></i>
                {{message.thumbDownCount}}
              </div>
              <div class="circle-fav circle-button" ng-click="favourite(message._id)">
                <i class="ionicons ion-star" ng-class="{'selected': message.favouriteState}"></i>
                {{message.favouriteCount}}
              </div>
              <div class="circle-up circle-button"  ng-click="thumbUp(message._id)">
                <i class="ionicons ion-thumbsup" ng-class="{'selected': message.thumbUpState}"></i>
                {{message.thumbUpCount}}
              </div>
            </div>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
    <div class="tabs tabs-icon-only">
      <!-- Create a message -->
      <a nav-clear nav-transition="none" class="tab-item disable-user-behavior" title="Create" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline" ui-sref="menu.game-room-create({gameId: game._id})">
        <i class="icon ion-ios-compose"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <!-- Message list -->
      <a nav-clear nav-transition="none" class="tab-item disable-user-behavior" title="Messages" icon-on="ion-ios-email" icon-off="ion-ios-email-outline" ui-sref="menu.game-room-receive({gameId: game._id})">
        <i class="icon ion-ios-email"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <!-- Sneaky Board -->
      <a nav-clear nav-transition="none" class="tab-item disable-user-behavior active" title="Sneaky Board" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" ui-sref="menu.game-room-sneaks({gameId: game._id})">
        <i class="icon ion-ios-list"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
      <!-- Scores n Stats -->
      <a nav-clear nav-transition="none" class="tab-item disable-user-behavior" title="Scores n Stats" icon-on="ion-ios-flower" icon-off="ion-ios-flower-outline" ui-sref="menu.game-room-score({gameId: game._id})">
        <i class="icon ion-ios-flower"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
      </a>
    </div>
</ion-view>