<ion-modal-view>
<ion-header-bar>
  <h1 class="title">{{ game.name }}</h1>
  <div class="button button-clear" ng-click="modal.hide()">
  	<span class="icon ion-close"></span>
	</div>
    </ion-header-bar>
    <ion-content>
		<h2>Username</h2>
		<label class="item item-input">
		<input type="text" placeholder="Choose a name for this game" ng-model="handle">
		</label>
		<div class="password-form" ng-show="game.has_password == true">
		<h2>Password</h2>
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-model="password">
			</label>
		</div>
	    <button class="col social-button" ng-click="loadGameHideModal(game, handle, password)">
	        <div class="social-text">Join Game</div>
	    </button>
</ion-content>
</ion-modal-view>