<ion-view hide-nav-bar="false" view-title="" class="background-flesh">
  <ion-content class="padding" scroll="false">
      <div class="row">
          <img src="./img/logo.png" class="login-logo">
      </div>
      <div class="row min-height-50">
          <button class="col social-button" ng-click="facebookLogin()">
            <i class="ion-social-facebook"></i>
            <div class="social-text">FACEBOOK</div>
          </button>
      </div>
      <div class="row min-height-50">
          <button class="col social-button">
              <i class="ion-social-google"></i>
              <div class="social-text">GOOGLE</div>
          </button>
      </div>
      <div class="row min-height-50">
          <button class="col social-button">
              <i class="ion-social-github"></i>
              <div class="social-text">GITHUB</div>
          </button>
      </div>      
      <div id="email" class="row min-height-50">
          <button class="col social-button" ng-click="EmailSignup()">
              <i class="ion-email"></i>
              <div class="social-text">EMAIL LOGIN</div>
          </button>
      </div>
  </ion-content>
</ion-view>
