/* Empty. Add your own CSS if you like */

/* nav bar */
.bar.bar-stable {
  display:block;
  background-color: rgba(0,0,0,0);
  border:none;
  width:100%;
  left:12px;
  background: none !important;
}

.bar{
  background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 100%); 
}

.bar-stable .button.button-icon{
  background-color: rgb(104, 43, 128);
  color:white;
  border-radius: 26px;
  min-height:52px;
  min-width:52px;
  border: solid 2px white;
}

ion-content.scroll-content.ionic-scroll.has-header{
  top:0;
}

.scroll-content {
  overflow: visible !important;
  top: 0px;
}

.bar.bar-stable .title {
    display:none;
}

.bar-stable .button.button-clear {
    color: #FFE3D0;
}

/*background CSS*/
.pane{
  background: -moz-linear-gradient(270deg, rgba(253,160,57,1) 0%, rgba(255,95,88,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(253,160,57,1)), color-stop(100%, rgba(255,95,88,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(253,160,57,1) 0%, rgba(255,95,88,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(253,160,57,1) 0%, rgba(255,95,88,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(253,160,57,1) 0%, rgba(255,95,88,1) 100%); /* ie10+ */
  background: linear-gradient(180deg, rgba(253,160,57,1) 0%, rgba(255,95,88,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FDA039', endColorstr='#FF5F58',GradientType=0 ); /* ie6-9 */
}

#home .header{
  text-align:center;
  color: white;
  font-size: 22px;
  line-height:30px;
}

#home .header .intro{
  display:block;
}

#home .header .title{
  display:block;
  font-weight:bold;
  padding-top:5px;
}

#home .form-field{
  min-height:54px;
  margin: 0 30px 12px 30px;
  font-size: 22px;
  border-radius: 6px;
}

#home .bordered{
  border:solid 1px black;
}

#home .email-field{
  margin-top:30px;
}

#home .password-field{

}

#home .forgot-password{
  margin-top:16px;
  font-size: 14px;
  text-align: center;
  color:white;
  opacity:0.5;
}

#home .otherwise{
  color:white;
  font-size:22px;
  margin-top: 23px;
  text-align: center;
}

#home .form-field .activated{
  opacity:0.5;
}

#home .mail-icon{
  position: absolute;
  width: 38px;
  margin: 12px 0 0 12px;
}

#home .password-icon{
  position:absolute;
  width: 26px;
  margin: 12px 0 0 24px;
}

.action-button{
  background-color: #682B80;
  text-align: center;
  line-height: 54px;
  font-weight: bold;
  color:white;
}

.action-button .inactive{
  background-color: white;
  color: black;
  border-radius: 6px;
}

.submit-button{
  background-color:rgba(0,0,0,0);
  border:none;
  font-size:22px;
  font-weight: bold;
  color:white;
  width:100%;
  line-height:54px;
  padding:0;
}

/* email signup */

#home label{
  margin:0;
  padding: 12px 0 0 60px;
}

.item{
  display:block;
}

.item-input {
    background-color: rgba(0,0,255,0);
    border:none;
    min-height: 54px;
    font-size: 18px;
    padding-left:12px;
}

.item-input input{
  color: #682B80;
  background-color: rgba(0,0,255,0);
  border:none;
  padding:0;
  font-size: 18px;
}

::-webkit-input-placeholder {
  color: #682B80 !important;
  opacity:0.5 !important;
  font-size:18px !important;
}
:-moz-placeholder { /* older Firefox*/
  color: #682B80 !important;
  opacity:0.5 !important;
  font-size:18px !important;
}
::-moz-placeholder { /* Firefox 19+ */ 
  color: #682B80 !important;
  opacity:0.5 !important;
  font-size:18px !important;
} 
:-ms-input-placeholder { 
  color: #682B80 !important;
  opacity:0.5 !important;
  font-size:18px !important;
}

.after-field{
  clear:left;
}

#home .make-visible{
  display:block;
}

#home .hidden{
  display:none;
}

#home .empty-field{
  min-height: 66px;
}

#home .otherwise{
  margin-bottom:30px;
  padding:0;
}

#game-list{
  padding: 0;

}

#game-list .game-tile{
  background-color: rgba(0,0,0,0);
  border-right:solid 1px white;
  width:50%;
  height:50vw; 
  float:left;
  position:relative;
}

#game-list .game-tile .game-name{
  position:absolute;
  bottom:0;
  background-color: rgba(0,0,0,0.2);
  width:100%;
  min-height:54px;
}

#game-list .game-tile .game-name h2{
  color:white;
  font-size: 22px;
  line-height:54px;
  margin: 0 0 0 12px;
}

.login-logo{
    margin: 0px auto 35px auto;
}

/* Button Social Sign In: */
.social-button{
    background-color: #FFD0D6;
    border: 1px solid #F0EEEE;
    min-width: 280px;
    max-height: 40px;
    box-shadow: 0 2px 5px #FF0B28;
    text-align:left;
    padding: 0;
    box-sizing: border-box;
}

.social-button:active{
    margin-top: 1px;  
    box-shadow: none;
}

.social-button i{
    float:left;
    font-size: 30px;
    width:40px;
    text-align: center;
}

.social-button i.ion-social-facebook{
    color: #3B5998;
}

.social-button i.ion-social-google{
    color: #D50F25;
}

.social-button i.ion-social-github{
    color: black;
}

.social-text{
    font-family: Avenir-Book;
    font-size: 17px;
    color: #3B5998; 
    text-align: center;
    padding: 0;
    line-height: 40px;
}

#email{
    margin-top:60px;
}

.min-height-50{
    min-height: 50px;
    padding: 0;
}

.item {
  color: #682B80;
}

.orange-button {
  background-color: #FF8A3B;
  border: none;
  box-shadow: 0 2px 5px #FF0B28;
  min-height: 40px;
  box-sizing: border-box;
  margin-bottom:9px;
}

.orange-button {
    background-color: #FF8A3B;
    min-width: 280px;
    max-height: 40px;
    box-shadow: 0 2px 5px #FF0B28;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

.orange-button-text {
  font-family: Avenir-Book;
  font-size: 17px; 
  color: #4A4A4A;
  line-height: 23px;
}

.orange-button:active{
    margin-top: 1px;  
    box-shadow: none;
}

.player-list{
  max-height: 20px;
  overflow: hidden;
}

.success-or-fail{
  text-align:center;
}

.success-or-fail:hover{
  cursor: pointer;
}

.success-or-fail .faces{
  font-size:50px;
}

.success-or-fail .ion-happy-outline{
  color: green;
}

.success-or-fail .ion-sad-outline{
  color: red;
}

/* Voting CSS */
.vote-box{
  top:20px;
}

.vote-box-hide{
  height:0px;
  overflow:hidden;
  text-align:center;
  transition:all 0.55s;
}

.vote-box-show{
  height:40px;
  text-align:center;
  transition:all 0.55s;
}

.target-box{
  padding:0px;
}

.message-info{
  padding:16px;
}

.button-container{
  display:inline-block;
}

.circle-up,
.circle-fav,
.circle-down{
  float:left;
  font-size:30px;
  line-height:35px;
  min-width:35px;
  min-height:35px;
  color:black;
  border-radius:35px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  margin:0 2px;
  padding: 0 8px;
  transition:all 0.5s;
}

.circle-up.activated,
.circle-fav.activated,
.circle-down.activated{
  margin-top: 1px;  
  box-shadow: none;
}

.circle-up{
  background-color: #48CD4F;
}

.circle-down{
  background-color: #FF304A;
}

.circle-fav{
  background-color: #5D7BF0;
}

.ion-thumbsdown.selected,
.ion-thumbsup.selected,
.ion-star.selected{
  color:yellow;
}

.password{
  float:right;
}

.padding{
  transition:all 0.5s;
}

.menu .bar-header {
  background-color: #682B80;
  display:none;
}

button.button-icon.icon.ion-plus{
  right:28px;
}

button.back-button.buttons.button-clear.header-item{
  background-color: rgb(104, 43, 128);
  color:white;
  border-radius: 26px;
  min-height:52px;
  min-width:52px;
  border: solid 2px white;
  float:left;
  padding-right:4px;
}

#side-nav{
  background-color:#682B80;
  border-right:solid 2px white;
}

#side-nav .list{
  padding-top:0;
}

.side-nav-item{
  width:100%;
  font-size:22px;
  color:white !important;
  font-weight:bold;
  text-align:left;
  min-height: 47px;
}

.side-nav-item.menu-item{
  padding:18px 0 0 18px;
}

.side-nav-item.close-menu{
  background-color: white;
  color:#682B80 !important;
  border-radius: 26px;
  min-height:52px;
  max-width:52px;
/*  border: solid 2px white;*/
  display:block;
  width:100%;
  padding: 15px 0 0 18px;
  margin: 5px 0 0 17px;
}

ion-content.scroll-content.ionic-scroll.has-header{
  top:20px !important;
}


#create-game{
  display:block;
  font-size: 32px;
  text-align: center;
  color: white;
  padding-top:12px;
  position: absolute;
}
#create-game title{
  display:block;
  font-size: 32px;
  text-align: center;
  color: white;
  padding-top:12px;
  position: absolute;
}

#create-game .photo-upload{
    display: block;
    text-align: center;
    padding: 43px;
}

#create-game .photo-upload .icon{
  font-size:22px;
  color: white;
}


#create-game .photo-upload h3{
  color:white;
  font-size:18px;
}

#create-game .form-wrapper{
  background-color:white;
  padding-left:12px;  
}

#create-game .form-wrapper .item-input{
  padding: 0;
  margin:0; 
}

#create-game .game-description,
#create-game .game-password{
  opacity:0.5;
}

#create-game-top{
  width:100%;
  background:none;
}

#create-game-top{
  width:100%;
  background:none;
  text-align:center;
}

#create-game-top title{
  font-size:32px;
  display: block;
}

.page-title {
  float: right;
  width: 80%;
  text-align: right;
  font-size:32px;
  margin-top:6px;
}

.game-content{
  float:left;
  width:100%;
}